/* Search Entry Style */
entry {
    background: rgba(0, 0, 0, 0.541);
    /* border: 1px solid rgb(0, 252, 210); */
    border-radius: 5px;
    /* padding: 5px 10px; */
    color: white;
}

entry:focus {
    border: 1px solid rgb(0, 252, 210);
    box-shadow: 0 0 5px rgba(0, 252, 210, 0.5);
}