[Unit]
Description=Venom SNI Daemon - System Tray (Status Notifier Items) Service
Documentation=https://github.com/vaxp/venom-sni
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/venom_sni
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
